<!--
	DEV.notes
	@param {boolean} centered - add optional centered modifier class
	@param {string} addClass - additional modifier class(es) e.g. icon-*
	@param {string} text - h1 text (html allowed)
-->

<h1 class="{{#if centered }}headline--centered{{/if}} {{bioDef addClass ''}}">{{{bioDef text 'Das ist eine <span class="lite">schöne</span> H1 Überschrift<sup>1</sup>'}}}</h1>
