@import "settings";
/*
/* mapping headline component
/* --------------------------------------------------------------*/

$headline-text-color: $primary-color;
$headline-background-color: $secondary-color;
$headline-font-size: 20px;

