@import "../../../resources/scss/bioTheme/mapping";

$headline-text-color: #000 !default;
$headline-background-color: #fff !default;
$headline-font-size: 40px !default;

.headline {
    h1 {
        color: $headline-text-color;
        background-color: $headline-background-color;
        font-size: $headline-font-size;
    }
}
